@{
    Layout = null; // Tắt layout đi để test cho nhanh, sau này bạn nhúng Layout vào sau
}

<div style="text-align: center; margin-top: 50px; font-family: sans-serif;">
    <h1 style="font-size: 3rem;">hello @ViewBag.TransactionId</h1>
    <br/>
    <a href="/TransactionHistory" style="color: blue; text-decoration: underline;">Quay lại danh sách</a>
</div>